body{
	background-image:url('hy.JPG');
	background-repeat:no-repeat;
	background-size: 100%;
}
h1 {
	text-align: center;
	color:#acd1b2;
	
}
h2 {
color:red;
	
}
p.one 
{
color:black;
}
p.two
{
color:#black;
}




	

