h1 {
    color:black;
    font: 42px 'Roboto', cursive;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 0px;
    text-shadow: 0px -1px 4px #006400, 0px -2px 10px, 0px -10px 20px blue, 0px -18px 40px red, 0px -24px 80px  white;
}
